.btn-tyellow {
    border-color: rgb(235, 186, 54);
    color: rgb(235, 186, 54);
  }
  
  .btn-tyellow:hover {
    background: rgb(235, 186, 54);
    color: white;
  }
  
  .btn-tblue {
    border-color: rgb(0, 108, 196);
    color: rgb(0, 108, 196);
  }
  
  .btn-tblue:hover {
    background: rgb(0, 108, 196);
    color: white;
  }